* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

#left-panel {
    width: 18%;
    overflow-x: auto;
    overflow-y: scroll;
}

#Calender {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#header > label {
    font-size: 24px;
    float: left;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

#header > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#header > img {
    padding: 5px; 
    float: right;
    cursor: pointer;
    border-radius: 4px;
}

#header > img:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#container {
    display: table;
    table-layout: fixed;
}

#weekdays-container {
    display: table-row;
}

#weekdays-container > div {
    display: table-cell;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    font-size: 24px;
    padding: 10px;
}

.week-num {
    opacity: 0.7;
}

#days-container {
    display: table-row-group;
    text-align: center;
}

.days-row {
    display: table-row;
}

.days-row > div {
    display: table-cell;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

.days-row > span {
    display: table-cell;
    text-align: center;
    cursor: default;
    font-size: 20px;
    padding: 10px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

.days-row > div:hover {
    background-color: rgba(0, 0, 0, 0.3)
}

.active {
    color: black;
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.inactive {
    color: #575366;
    opacity: 0.7;
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
    border-radius: 50%;
}

.today {
    background-color: #537590;
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.active:hover {
    background-color: darkred;
}

.placeHolder-header {
    padding: 40px 40px;
    background-color: #2c3e50;
}

.placeHolder-sidebar {
    background-color: #7f8c8d;
}

#main-calender-content {
    display: flex;
    flex-flow: row-reverse;
    height: 100%;
}

#content-container {
    width: 82%;
    height: 100%;
}

.time-column {
    width: 5%;
    height: 100%;
    flex-direction: column;
}

.time {
    flex: none;
    text-align: center;
    padding: 10px 10px;
    background-color: gray;
    border-bottom: black 1px solid;
}

.time-zone {
    flex: none;
    text-align: center;
    width: 5%;
}

.activities {
    display: flex;
    width: 95%;
    z-index: -1;
}

.activitie-day {
    background-color: #7f8c8d;
    flex-basis: 20%;
    border-right: black 1px solid;
}

.week-days-row {
    display: flex;
    flex-direction: row;
    background-color: red;
    width: 100%;
}

.week-activities {
    display: flex;
    flex-flow: wrap;
}

.week-day {
    background-color: seagreen;
    flex-basis: 14.28%;
    text-align: center;
    border-right: black 1px solid;
    padding: 40px 40px;
}



